@charset "utf-8";

@import url('fonts.css');

/* CSS Document */

body, h1, h2, h3, h4, p, div, ul, li{
    margin:0;
    padding:0;
    border:0;
    background:transparent;
}

/*article, aside, figure, footer, hgroup, menu, nav, section{
	display:block;
}*/

section {
	padding: 72px 0;
	text-align: center;
}

body {
    /* IE10 Consumer Preview */ 
/*background-image: -ms-linear-gradient(top, #FF4262 0%, #FF96A4 100%);
/* Mozilla Firefox */ 
/*background-image: -moz-linear-gradient(top, #FF4262 0%, #FF96A4 100%);
/* Opera */ 
/*background-image: -o-linear-gradient(top, #FF4262 0%, #FF96A4 100%);
/* Webkit (Safari/Chrome 10) */ 
/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF4262), color-stop(1, #FF96A4));
/* Webkit (Chrome 11+) */ 
/*background-image: -webkit-linear-gradient(top, #FF4262 0%, #FF96A4 100%);
/* W3C Markup, IE10 Release Preview */ 
/*background-image: linear-gradient(to bottom, #FF4262 0%, #FF96A4 100%);*/


position:relative;
}

/* HEADER /////////////////////////////////////////////////////////////////// */

#header {
	background: url("images/header.jpg") repeat top center;
	color: #333;
	position: absolute;
	height: 100px;
	right: 0;
	left: 0;
	top: 0;
}

#line{
    background:white;
    height:1px;
    
}

#nav {
    width:580px;
}

#nav ul{
    /*float: right;*/
    margin-right: 0px;
    list-style-type:none;
}

#nav li{
    display:inline;
}

#nav a{
    color: #aaa;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: left ;
    text-decoration:none;
    font-size: 15px;
    padding: 30px 20px;
    /*text-shadow: #757c83 -1px -1px 0;*/
    font: bold 103% Arial;
    /*text-align:center;*/
    font-weight:bold;
}
    
#nav li a:hover {
    border-top: 3px solid #FF96A4;
    padding-top:30px;
    color: white;
}

#nav .active a {
    border-top: 3px solid #FF96A4;
    padding-top:40px;
    color: white;
    
}
/*////////////////////// END HEADER/////////////////////////////*/



#aboutme 
{
	background: url("images/back.jpg");
	text-transform: uppercase italic;
	font-family: Smarty;
}

#aboutme .me {
	border-radius:500px;
	-webkit-border-radius:1000px;
	-moz-border-radius: 150px;
	border-color:#000;
	transform:rotate(4deg);
	-ms-transform:rotate(4deg); /* IE 9 */
	-webkit-transform:rotate(4deg);
	 border: 3px solid #021a40;
}

#aboutme h2{
	line-height: 150px;
	font-size: 6em;
	text-align: center;
	letter-spacing: 9px;
	
}

body .scroll-me{
	position: fixed;
	width: 100%;
	height: 50px;
	bottom: 0;
	z-index: 1;
	background: url("images/scroll.png") repeat-x scroll left top;
}

#hey{
	background: url("images/back2.jpg");
	
}

#hey h2{
	line-height: 150px;
	font-size: 6em;
	text-align: center;
	letter-spacing: 9px;
	color: white;
	
}

#googleMap {	
	width:100%;
	height:500px;
}